{% extends "base.html" %}
{% load static %}
{% block content %}

  <!--Main layout-->
  <main>

    <div class="container">


      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Trwa Liczenie:</span>



        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav"> </div>



      </nav>


      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">

          {% for x in Epoka   %}



          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                {%if Produkt.zdjecie %}
                    <img src ="{{ Produkt.zdjecie.url}}" class="card-img-top">
                {% else %}
                    <img src="{{ "media/NoFile.png"   }}" class="card-img-top">
                {% endif %}
                <a href="{{ Produkt.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>{{ Produkt_get_kategoria_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ Produkt.get_absolute_url }}" class="dark-grey-text">{{Produkt.nazwa}}

                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  {% if x.sredniWynik %}
                 Średnik Wynik Epoki: {{x.sredniWynik}} Odchylenie standardowe:{{x.odchylenieStandardowe}}
                  {% else %}
                  <strong>{{x.sredniWynik}} </strong>
                  {% endif %}
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->
            {% endfor %}

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->





    </div>
  </main>
{% endblock %}